@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
  /* object-fit: cover;
  object-fit: contain; */
  /* display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); */
}


